<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>List details</title>
</head>
<body>
    <div>
        <p><b><%= data.title %></b></p>
        <p><%= data.description %></p>
        <p>&#8377;<%= data.price.toLocaleString("en-IN") %></p>
        <p><%= data.location %></p>
        <p><%= data.country %></p>
        <br><br>
        <a href="/listing/<%= data._id %>/edit">Edit Details</a>
    </div>
</body>
</html>